body{
  margin: 0;
  background: rgb(27, 27, 27);
  color: white;
}
.spacer {
  height: 5px;
  background: white;
  display: block;
}
.days {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  text-align: center;
  position: fixed;
  top:0;
  width: 100%;
  background: white;
  padding: 10px 0;
  color: black;
  /* grid-template-rows: 25% 100px auto; */
}
.table {
  margin-top: 40px;

}
.comb {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 5px solid rgb(41, 13, 13);
  /* grid-template-rows: 25% 100px auto; */
}

.comb div {
  border: 1px solid rgb(10, 10, 10);
  padding: 25px 0;
  background: #252525;
}
