* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}
body{
  margin: 0;
  background: rgb(25, 25, 25);
  color: white;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}
.spacer {
  height: 5px;
  background: white;
  display: block;
}
.days {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  color: black;
  border-radius: 0px 0px 5px 5px;
  /* grid-template-rows: 25% 100px auto; */
}

.day{
  padding: 10px 0;
  border-right: 2px solid black;
}

.day:last-child {
  border-right: none;
}
.table {
  margin-top: 40px;
}
.comb {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 15px solid rgb(25, 25, 25);
  background: rgb(30, 30, 30);
  /* grid-template-rows: 25% 100px auto; */
}

.comb div {
  border: 1px solid rgb(10, 10, 10);
  padding: 25px 0;
  background: #252525;
}

@media (min-width: 768px) {
  .comb {
    margin: auto 20vw;
  }
  .days {
    left: 20vw;
    width: 59vw;
  }

 }